DATABASE_URL="postgresql://postgres:RamonDev123EduTrack@db.kohzeyibmavlnblfjcfv.supabase.co:5432/postgres"
GEMINI_API_KEY="AIzaSyCQ-YJg6OP0lodFKskiZ6wTeIcttictk4s"
REDIS_URL="redis://localhost:6379"
NEXTAUTH_SECRET="genioplay-secret-security-key-2024"
NEXTAUTH_URL="http://153.75.244.238"
NEXT_PUBLIC_APP_URL="http://153.75.244.238"
MERCADO_PAGO_ACCESS_TOKEN=""
N8N_REPORT_WEBHOOK="http://localhost:5678/webhook/weekly-report"
NEXT_PUBLIC_SUPABASE_URL="https://kohzeyibmavlnblfjcfv.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_MGH5M-6JFPcp9eRvJ67kiA_m_Iwi7CG"
RESEND_API_KEY="re_5hLyf9cm_HcR6RLGmRbuq1AhnBKdFK7cD"
EMAIL_FROM="GênioPlay <onboarding@resend.dev>"